.bg-container{
    background-color: #bba8fd;
    background-size: cover;
    height: 100vh;
    padding: 20px
}

.bg-container2{
    background-color: #ffffff;
    background-image: url("https://wallpapercave.com/wp/wp2497500.jpg");
    background-size:cover;
    height: 95vh;
    border-radius: 30px;
}

.titlex{
    color:#bba8fd;
    text-shadow: 2px 2px 4px white;
    font-weight: 800;
    background-size: cover;
    font-family: stencil std, fantasy;

    background: radial-gradient(white,#bba8fd);

    padding: 20px;
    font-size: 70px;
    border: 10px solid #bba8fd;
}


.main{
    background-color: #bba8fd;
    background-size: cover;
    height: auto;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.m1-3{
    margin: 10px 10px 10px 10px;
}

.btn{
    height: auto;
    width: 45px;
}